<!-- nav.html -->
<nav id="cblog-menu">
    <p>{{ site.title }}</p>
    <ul class="pages">
    {% for nav_item in site.blog_nav %}
		<li><a href="{{ site.baseurl }}/{{nav_item}}"><i class="fa fa-home"></i> {{nav_item}}</a></li>
	{% endfor %}
      <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="{{ site.baseurl }}/posts/"><i class="fa fa-archive"></i> All Posts</a></li>
      <li><a href="{{ site.baseurl }}/search/"><i class="fa fa-search"></i> Search</a></li>
    </ul>
  </div>
</nav>